@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');
* {
    font-family: 'Play', sans-serif;
    background-color: rgb(195, 213, 216);
}

 .about_me{
    display: flex;
    padding: 5em 5em 5em 5em;
}


img {
    width: 10%;
    
  } 

.bio {
    padding: 0em 5em 0em 5em;
}